/*
10. Voeg extra functies toe (optioneel):
Timer voor het beantwoorden van vragen.
Een "Hint" knop voor extra informatie over het ras.
*/

body {
    --primary-color: #eaeff6;

    --grid-height: 82vh;
    --grid-width: 90vw;
    --answer-height: calc(var(--grid-height) * 0.4);
    --grid-margin: calc(0.5rem + 1vh) 0;

    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    flex-direction: column;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: calc(50px + 0.5vh);
    width: 99vw;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
}

header > p {
    font-size: 1.5rem;
}

#breedSpan {
    text-decoration: underline;
}

#scoreDiv {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}

#scoreDiv > p {
    width: 200px;
    margin: 0;
    text-align: right;
}

#grid {
    display: grid;
    justify-content: space-evenly;
    align-items:center;
    width: var(--grid-width);
    height: var(--grid-height);
    background-color: var(--primary-color);
    border-radius: 2rem;
    margin: var(--grid-margin);
}

#blockdiv,
#endGameDiv {
    font-size: 3rem;
    flex-direction: column;
    position: absolute;
    background-color: var(--primary-color);
    width: var(--grid-width);
    height: var(--grid-height);
    border-radius: 2rem;
    margin: var(--grid-margin);
}

div > h1 {
    margin: 20px;
}

div > p {
    margin: 10px;
}

div > button {
    font-size: 2rem;
    margin-top: 4rem;
}

#topLeft {
    grid-area: 1 / 1 / 2 / 2;
}

#topRight {
    grid-area: 1 / 2 / 2 / 3;
}

#bottomLeft {
    grid-area: 2 / 1 / 3 / 2;
}

#bottomRight {
    grid-area: 2 / 2 / 3 / 3;
}

.imgOption {
    border-radius: 0.5rem;
    display: inline-block;
    max-width: 100%;
    height: var(--answer-height);
    padding: .25rem;
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.imgOption:focus,
.imgOption:hover {
    transition: all .2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.075);
    transform: scale(1.005);
    transform: translateY(-1px);
}
.imgOption.align-self-start {
    margin-top: 0;
}
.imgOption.align-self-end {
    margin-bottom: 0;
}

.wrong {
    border: 2px solid #cf1616;
    background-color: #cf1616;
    animation: wrong 200ms ease-out;
    background-color: red;
    opacity: 0.7;
}

.OutOfTime {
    border: 2px solid #cf7316;
    background-color: #cf7316;
    animation: wrong 200ms ease-out;
    background-color: #cf7316;
    opacity: 0.7;
}

@keyframes wrong {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.right {
    border: 2px solid #28cf16;
    background-color: #28cf16;
}

/* timer #ff8c00*/
#timerAndLivesDiv {
    width: 200px;
    justify-content: space-between;
}

#timerAndLivesDiv > p {
    font-size: 1.3rem;
}

#clock {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 75vw;
    z-index: 1;
    overflow: hidden;
}

#semiCircle1 {
    width: 25px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ff8c00;
    z-index: 2;
    transform-origin: right center;
}

#semiCircle2 {
    width: 25px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: white;
    z-index: 3;
    transform-origin: left center;
}

#semiCircle3 {
    width: 25px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: #ff8c00;
    z-index: 4;
}

.circle1Trasition {
    transform: rotate(-180deg);
    transition: transform 4s linear;
}

.circle2Trasition {
    transform: rotate(-360deg);
    transition: transform 8s linear;
}

.circle3Trasition {
    opacity: 0;;
    transition: opacity 0s 4s;
}